<!DOCTYPE html>
<html>
    <head>
        <title>FileTree</title>
    </head>
    <body>
        {% if obj_list_from_db %}
            <form action="/filebrowser">
              {% for item in obj_list_from_db %}
                {% if item.parent == 0 %}
                  {% if item.ftype == "f" %}
                    <input type="checkbox" id="file" name="{{ item.name }}" value="{{ item.id }}">{{ item.name }}<br>
                  {% else %}
                    <input type="checkbox" id="dir" name="{{ item.name }}" value="{{ item.id }}">{{ item.name }}<br>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </form>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    </body>
</html>
