{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html>
    <head>
        <title>FileTree</title>
    </head>
    <body>
        {% if obj_list_from_db %}
            <form action="/dirindex/filebrowser" method="post" class="form" role="form">
              {% csrf_token %}
              {% for item in obj_list_from_db %}
                {% if item.parent == 0 %}
                  {% if item.ftype == "f" %}
                    <input type="checkbox" id="file" name="{{ item.name }}" value="{{ item.id }}">{{ item.name }}<br>
                  {% else %}
                    <input type="checkbox" id="dir" name="{{ item.name }}" value="{{ item.id }}">{{ item.name }}<br>
                  {% endif %}
                {% endif %}
              {% endfor %}
              {% buttons %}
                <button type="submit" class="btn btn-primary">
                  Submit
                </button>
              {% endbuttons %}
            </form>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    </body>
</html>
